.about-description-container {
    width: 100%;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    h1 {
        display: inline-block;
        padding: 1rem;
        transform: skew(-10deg);
        text-align: center;
        color: $font-color-primary;
        background: $detail-color;
        margin-bottom: 4rem;
        text-shadow:  3px 3px 3px $font-color-secondary, 3px 3px 3px $font-color-secondary;
        border-radius: 10px 0px 10px 0px;
    }

    .about-description {
        line-height: 2rem;
        display: flex;
        align-items: center;
        column-gap: 4rem;
        margin-bottom: 4rem;

        @include tablet {
            padding-top: 1rem;
            border-top: 2px solid $detail-color;
        }

        img {
            max-width: 400px;
            min-width: 300px;
            width: 100%;
            border-radius: 10px;
            box-shadow: 2px 2px 10px $detail-color;
        }

        p {
            color: $font-color-secondary;
            font-size: 1.5rem;
            max-width: 400px;
    
            @include tablet {
                text-align: center;
            }
        }

        &.uno, &.tres {
            @include tablet {
                flex-direction: column;
                row-gap: 2rem;
            }
        }

        &.dos {
            @include tablet {
                flex-direction: column-reverse;
                row-gap: 2rem;
            }
        }
    }

    .last-paragraph {
        width: 100%;

        p {
            font-size: 2rem;
            text-align: center;
            color: $font-color-secondary;

            .diferent-text {
                background: $detail-color;
                text-shadow: 3px 3px 3px black;
            }
        }
    }
}