@keyframes move {
    0% {
        transform: scale(1.5);
    }
    50% {
        transform: rotateZ(-45deg);
    }
    100% {
        transform: rotateY(360deg);
    }
}

@keyframes movimineto {
    50% {
        transform: scale(1.2) perspective(100px) rotateZ(-45deg) rotateY(360deg);
    }
}

// <span class="emoji-animation">🛹</span>