header {

    .nav-person {
        background-color: $main-color;

        div {
            a {
                div {
                    .logo {
                        width: 100px;
                        border-radius: 50%;
                        border: 5px solid $detail-color;
                    }

                    .logo-text {
                        position: relative;

                        .title-logo {
                            font-size: 3rem;
                            font-family: $font-logo;
                        }

                        p {
                            position: absolute;
                            top: 50px;
                            right: 10px;
                            color: $detail-color;
                        }
                    }
                }

                @include desktop {
                    margin: 0 !important;
                }
                @include tablet {
                    margin-left: 2rem !important;
                }
            }

            .navbar-toggler {
                border: none;
            
                &:focus {
                    box-shadow: none;
                }

                i {
                    font-size: 2rem;
                    color: $detail-color;
                }
            }

            .nav-list {

                ul {
                    li {
                        .nav-link {
                            position: relative;
                            margin-right: 0.3rem;
                
                            &::before {
                                content: '';
                                background: $detail-color;
                                position: absolute;
                                width: 0;
                                height: 3px;
                                bottom: 0;
                                left: 50%;
                                transition: all .3s;
                            }
                
                            &:hover::before {
                                width: 100%;
                                left: 0;
                            }
                        }
                
                        .active {
                            color: $detail-color !important;
                            font-weight: bold;
                
                            &::before {
                                width: 100%;
                                left: 0;
                            }
                        }

                        &.dropdown {

                            ul {

                                @include tablet {
                                    margin-left: 2rem;
                                }

                                li {
                                    a {
                                        @include tablet {
                                            margin: 0 !important;
                                            text-align: center;
                                        }
                                    }
                                }

                                @include desktop {
                                    left: -35px;
                                }

                                @include tablet {
                                    left: 0;
                                }
                            }
                        }
                    }
                }

                @include desktop {
                    margin-right: 0 !important;
                }
                
            }
        }
    }
}





