.productos { 
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 3rem;

    h1 {
        color: $font-color-primary;
        margin-top: .5rem;
    }

    .emoji-animation {
        margin-left: 1rem;
        font-size: 1.8rem;
        animation-name: movimineto;
        animation-duration: 3s;
        animation-iteration-count: infinite;
    }
}

