* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::selection {
    background-color: $selection-bg;
    color: $selection-color;
}

// BODY
body {
    background-color: $second-color;
}