* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-text;

    h1, h2, h3, h4 {
        font-family: $font-hs;
    }
}

*::selection {
    background-color: $selection-bg;
    color: $selection-color;
}

// BODY
body {
    background-color: $second-color;
}