$main-color: rgb(20, 30, 48);
$second-color: rgb(36, 59, 85);
$second-color-op: rgba(36, 59, 85, 0.5);
$third-color: rgb(32,33,36);
$font-color-primary: rgb(0, 0, 0);
$font-color-secondary: rgb(255, 255, 255);
$detail-color: rgb(33, 124, 33);
$selection-color: rgb(17, 39, 17);
$selection-bg: rgb(0, 180, 180);
$instagram-color: #d92e7f;
$twitter-color: #00acee;
$whatsapp-color: #25d366;
$git-color: #cecece;

// MAP COLOR DE ICONOS DE REDES
$redes-colors: (
    instagram: $instagram-color,
    twitter: $twitter-color,
    whatsapp: $whatsapp-color,
    github: $git-color
);

// background: #141E30;
// background: -webkit-linear-gradient(to right, #243B55, #141E30);
// background: linear-gradient(to right, #243B55, #141E30);